# Regular Expression Assignment

In [1]:
import re

# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [2]:
text = 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]", ":", text))

Python:Exercises::PHP:exercises:

In [3]:
text = "Sofia Shaikh, Sofia crasto."
print(re.sub("[ ,.]"," :",text))

Sofia :Shaikh : :Sofia :crasto :

# Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words

In [4]:
import pandas as pd
import re

In [6]:
data = {'SUMMARY' : ['hello, world!', '**** test', '123four, five:; six...']}

In [38]:
data = {'SUMMARY' : ['hello, world!', '**** test', '123four, five:; six...']}
df=pd.DataFrame(data)

In [39]:
df['SUMMARY']= df['SUMMARY'].str.replace('[^a-zA-Z ]', '', regex=True)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

# Q3-Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [40]:
str1 = """Chandrayaan-3 is a follow on missiom to Chandrayaan-2 to demonstrate end to end capability in safe landing
The propulsion module will carry the lander and rover configuration till lunar orbit."""

string_pattern = r"\b\w{4}\b"

regex_pattern = re.compile(string_pattern)

result = regex_pattern.findall(str1)
print(result)

['safe', 'will', 'till']

In [41]:
target1 = "APJ Abdul Kalam was an Indian aerospace scienist also known as the Missile Man of India"
result1 = regex_pattern.findall(target1)
print(result1)

['also']

# Question  4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [43]:
import regex as re
str2 = """Chandrayaan-3 is a follow on missiom to Chandrayaan-2 to demonstrate end to end capability in safe landing
The propulsion module will carry the lander and rover configuration till lunar orbit."""

string_pattern = r"\b\w{3,5}\b"

regex_pattern = re.compile(string_pattern)

result_new = regex_pattern.findall(str2)
print(result_new)

['end', 'end', 'safe', 'The', 'will', 'carry', 'the', 'and', 'rover', 'till', 'lunar', 'orbit']

#  Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [46]:
import re

def remove_parentheses(strings):
    
    pattern = re.compile(r'\([^)]*\)')

    
    cleaned_strings = [pattern.sub('', s) for s in strings]

    return cleaned_strings

# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [48]:
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(sample_text)

for strings in result:
    print(strings)

example
hr@fliprobo
github
Hello
Data

# Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [49]:
import re

sample_text = "ImportanceOfRegularExpressionsInPython"

result = re.findall(r'[A-Z][a-z]*', sample_text)

print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8- Create a function in python to insert spaces between words starting with numbers.

In [50]:
import re

def between_numbers(text):
    result = re.sub(r'([A-Za-z]).(\d)([A-Za-z])', r'\1 \2', text)
    return result

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = between_numbers(sample_text)
print(output)

RegularExpressio 1sA 2mportantTopi 3nPython

# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [51]:
import re

def capital_and_numbers(text):
    
    result = re.sub(r'([A-Z0-9][a-z]*)', r' \1', text)
    return result

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = capital_and_numbers(sample_text)
print(output)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [52]:
df=pd.read_csv('happiness score dataset.csv')

In [53]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [54]:
df['first_five_letters']=df['Country'].str[:6]
print(df['first_five_letters'])

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [55]:
import re

def valid_string(string):
    
    pattern = r'^[a-zA-Z0-9_]+$'

    if re.match(pattern, string):
        return True
    else:
        return False

sample_strings = ["Sofia1987", "Jackson_Crasto_123", "Rohit-Virat", "12345", "_worldcup_"]

for string in sample_strings:
    if valid_string(string):
        print(f"'{string}' is a valid string.")
    else:
        print(f"'{string}' is not a valid string.")

'Sofia1987' is a valid string.
'Jackson_Crasto_123' is a valid string.
'Rohit-Virat' is not a valid string.
'12345' is a valid string.
'_worldcup_' is a valid string.

# Question 12- Write a Python program where a string will start with a specific number.

In [56]:
import re

def number(s, number):
    pattern = r'^' + re.escape(str(number))

    if re.match(pattern, s):
        return True
    else:
        return False

sample_strings = ["100345abc", "10000def", "xyz12345", "32rsp34"]
specific_number = 100

for s in sample_strings:
    if number(s, specific_number):
        print(f"'{s}' starts with {specific_number}.")
    else:
        print(f"'{s}' does not start with {specific_number}.")

'100345abc' starts with 100.
'10000def' starts with 100.
'xyz12345' does not start with 100.
'32rsp34' does not start with 100.

# Question 13- Write a Python program to remove leading zeros from an IP address

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

# Question 15- Write a Python program to search some literals strings in a string.

In [63]:
sample_text = 'The quick brown fox jumps over the lazy dog.'

searched_words = ['fox', 'dog', 'horse']

def search_words(text, words):
    found_words = []
    for word in words:
        if word in text:
            found_words.append(word)
    return found_words

found_words = search_words(sample_text, searched_words)

for word in found_words:
    print(f"'{word}' found in the text.")

'fox' found in the text.
'dog' found in the text.

# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [64]:
sample_text = 'The quick brown fox jumps over the lazy dog.'

searched_word = 'fox'

index = sample_text.find(searched_word)

if index != 0:
    print(f"'{searched_word}' found at position {index} in the text.")
else:
    print(f"'{searched_word}' not found in the text.")

'fox' found at position 16 in the text.

# Question 17- Write a Python program to find the substrings within a string.

# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [66]:
import re

sample_text = 'Python exercises, PHP exercises, C# exercises'

pattern = 'exercises'

matches = re.finditer(pattern, sample_text)

for match in matches:
    start = match.start()
    end = match.end()
    print(f"'{pattern}' found at position {start}-{end}: '{sample_text[start:end]}'")

'exercises' found at position 7-16: 'exercises'
'exercises' found at position 22-31: 'exercises'
'exercises' found at position 36-45: 'exercises'

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [67]:
import regex as re
str2 = """01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"""

string_pattern = r'\b\d+\.\d{1,2}\b'

regex_pattern = re.compile(string_pattern)

result_new = regex_pattern.findall(str2)
print(result_new)

['01.12', '145.8', '3.01', '27.25', '0.25']

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [68]:
import re

def separate_numbers(text):
    pattern = r'\d+(\.\d+)?'

    matches = re.finditer(pattern, text)

    
    for match in matches:
        number = match.group()
        start_position = match.start()
        end_position = match.end()
        print(f"Number: {number}, Position: {start_position}-{end_position}")


sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

separate_numbers(sample_text)

Number: 01.12, Position: 0-5
Number: 0132.123, Position: 6-14
Number: 2.31875, Position: 15-22
Number: 145.8, Position: 23-28
Number: 3.01, Position: 29-33
Number: 27.25, Position: 34-39
Number: 0.25, Position: 40-44

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [69]:
import re

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

def maximum_number(text):
    pattern = r'\d+'

    numbers = re.findall(pattern, text)

    if numbers:
        high_number = max(map(int, numbers))
        return high_number
    else:
        return None

high_number = maximum_number(sample_text)

if high_number is not None:
    print(f"The maximum number is: {high_number}")
else:
    print("No numeric values found in the text.")

The maximum number is: 950

# Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [70]:
import re

sample_text = "RegularExpressionIsAnImportantTopicInPython"

def spaces_and_capitals(text):
    updated_text = re.sub(r'([A-Z])', r' \1', text)
    
    updated_text = updated_text.strip()
    updated_text = updated_text[0].upper() + updated_text[1:]
    
    return updated_text

result = spaces_and_capitals(sample_text)

print(result)

Regular Expression Is An Important Topic In Python

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [71]:
import re

sample_text = "Sachin is the God of cricket."

pattern = r'[A-Z][a-z]+'

matches = re.findall(pattern, sample_text)

print(matches)

['Sachin', 'God']

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [72]:
import regex as re
string_1 = "Hello hello world world"
regex = r'\b(\w+)(?:\W+\1\b)+'

x=re.sub(regex,r'\1',string_1)
print(x)

Hello hello world

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [73]:
import re

input_string = "Sofia1987"

def alphanumeric(input_string):
    pattern = r'.*[a-zA-Z0-9]$'

    if re.match(pattern, input_string):
        return True
    else:
        return False

result = alphanumeric(input_string)

if result:
    print(f'The string "{input_string}" ends with an alphanumeric character.')
else:
    print(f'The string "{input_string}" does not end with an alphanumeric character.')

The string "Sofia1987" ends with an alphanumeric character.

# Question 27-Write a python program using RegEx to extract the hashtags.

In [74]:
import re

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

def hashtags_extract(text):
    pattern = r'#\w+'

    hashtags = re.findall(pattern, text)
    
    return hashtags

hashtags = hashtags_extract(sample_text)

print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [75]:
import re

def unicode_symbols(text):
    pattern = r'<U\+\w+>'

    updated_text = re.sub(pattern, '', text)

    return updated_text

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

updated_text = unicode_symbols(sample_text)

print(updated_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

In [76]:
import re

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."


def length_between_2_and_4(text):
    pattern = r'\b\w{2,4}\b'

    updated_text = re.sub(pattern, '', text)

    return updated_text

updated_text = length_between_2_and_4(sample_text)

print(updated_text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.