# WEB SCRAPING – ASSIGNMENT 4

In [2]:
import bs4
from bs4 import BeautifulSoup
import requests

import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

#exceptions
from selenium.common.exceptions import NoSuchElementException ,TimeoutException,StaleElementReferenceException
import pandas as pd
import numpy as np

1.Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [5]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [12]:
# scraping Name and Rank
try:
    nam=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in nam:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
except StaleElementReferenceException:
    Name.append('-')
print(len(Name))
print(Name)

90
['"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"Wheels on the Bus"[20]', '"See You Again"[21]', '"Shape of You"[26]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors – Colorful Eggs on a Farm"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Masha and the Bear – Recipe for Disaster"[39]', '"Baa Baa Black Sheep"[40]', '"Lakdi Ki Kathi"[41]', '"Sugar"[42]', '"Counting Stars"[43]', '"Roar"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Shree Hanuman Chalisa"[46]', '"Humpty the train on a fruits ride"[47]', '"Sorry"[48]', '"Thinking Out Loud"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]', '"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"Wheels on the Bus"[20]', '"See You Again"[21]', '"Shape of You"[26]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors – Colorful Eggs on a Farm"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Masha and the Bear – Recipe for Disaster"[39]', '"Baa Baa Black Sheep"[40]', '"Lakdi Ki Kathi"[41]', '"Sugar"[42]', '"Counting Stars"[43]', '"Roar"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Shree Hanuman Chalisa"[46]', '"Humpty the train on a fruits ride"[47]', '"Sorry"[48]', '"Thinking Out Loud"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]', '"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"Wheels on the Bus"[20]', '"See You Again"[21]', '"Shape of You"[26]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors – Colorful Eggs on a Farm"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Masha and the Bear – Recipe for Disaster"[39]', '"Baa Baa Black Sheep"[40]', '"Lakdi Ki Kathi"[41]', '"Sugar"[42]', '"Counting Stars"[43]', '"Roar"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Shree Hanuman Chalisa"[46]', '"Humpty the train on a fruits ride"[47]', '"Sorry"[48]', '"Thinking Out Loud"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]']

In [11]:
# scraping Artist name
try:
    artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')
except StaleElementReferenceException:
    Artist.append('-')
    
    print(Artist)
print(len(Artist))

90

In [9]:
# scraping Upload Date
try:
    upload_date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('-')  
except StaleElementReferenceException:
    Upload_date.append('-')
    print(Upload_date)
print(len(Upload_date))

18

In [13]:
# scraping Views
try:
    views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for i in views:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')
except StaleElementReferenceException:
    Views.append('-')
    
print(Views)
print(len(Views))
driver.quit()

['14.82', '8.49', '6.94', '6.79', '6.34', '6.33', '6.30', '5.90', '5.28', '5.22', '5.15', '4.72', '4.66', '4.59', '4.14', '4.11', '4.08', '4.05', '4.03', '3.99', '3.94', '3.87', '3.83', '3.79', '3.77', '3.76', '3.69', '3.66', '3.64', '3.64']
30

In [14]:
# Dataframe for scrap data
print('Most Viewed Video on YouTube from Wikipedia')
Wiki_youtube_df=pd.DataFrame({
    'Video Name':Name[:18],
    'Uploader':Artist[:18],
    'Views':Views[:18],
    'Upload Date':Upload_date[:18]})

Most Viewed Video on YouTube from Wikipedia

In [15]:
#set the Rank as index
Wiki_youtube_df['Rank'] = Wiki_youtube_df.index
Wiki_youtube_df['Rank'] = range(1, len(Wiki_youtube_df) + 1)

In [16]:
Wiki_youtube_df= pd.DataFrame(Wiki_youtube_df)

# Set the 'Rank' column as the first column
Wiki_youtube_df= Wiki_youtube_df[['Rank', 'Video Name', 'Uploader', 'Views', 'Upload Date']]
Wiki_youtube_df

,Rank,Video Name,Uploader,Views,Upload Date
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.82,"November 2, 2020"
1,2,"""Despacito""[10]",Luis Fonsi,8.49,"August 4, 2017"
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.94,"July 10, 2017"
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.79,"November 24, 2012"
4,5,"""Wheels on the Bus""[20]",Cocomelon - Nursery Rhymes,6.34,"July 16, 2010"
5,6,"""See You Again""[21]",Wiz Khalifa,6.33,"April 14, 2010"
6,7,"""Shape of You""[26]",Ed Sheeran,6.30,"October 25, 2009"
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.90,"May 2, 2009"
8,9,"""Uptown Funk""[30]",Mark Ronson,5.28,"July 17, 2008"
9,10,"""Gangnam Style""[31]",Psy,5.22,"March 15, 2008"
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.15,"March 1, 2008"
11,12,"""Dame Tu Cosita""[37]",Ultra Records,4.72,"May 19, 2006"
12,13,"""Axel F""[38]",Crazy Frog,4.66,"March 12, 2006"
13,14,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,4.59,"February 18, 2006"
14,15,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,4.14,"January 21, 2006"
15,16,"""Lakdi Ki Kathi""[41]",Jingle Toons,4.11,"January 9, 2006"
16,17,"""Sugar""[42]",Maroon 5,4.08,"October 31, 2005"
17,18,"""Counting Stars""[43]",OneRepublic,4.05,"October 29, 2005"

2.Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Series B) Place C) Date D) Time Note: - From bcci.tv home page you have reach to the international fixture page through code

In [17]:
import bs4
from bs4 import BeautifulSoup
import requests

import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

#exceptions
from selenium.common.exceptions import NoSuchElementException ,TimeoutException,StaleElementReferenceException
import pandas as pd
import numpy as np

In [28]:
#get webpage
driver = webdriver.Chrome()
url="https://www.bcci.tv/"
driver.get(url)
driver.maximize_window()

In [29]:
# from bcci.tv home page reach out the international fixture page
search= driver.find_element(By.XPATH, '//div[@class="imw-tabs international-tabs"]/a[2]')      
search.click()

In [30]:
#create the list
Series=[]
Place =[]
Date =[]
Time=[]

In [31]:
# Scraping series
time.sleep(5)
sris=driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in sris:
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)

In [32]:
#Scrapping date
time.sleep(5)
dat=driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in dat:
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)

In [24]:
#Scrapping time
time.sleep(5)
tim=driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in tim:
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)

In [33]:
# Scrapping place
time.sleep(5)
plce=driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
for i in plce:
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text)
        
#close web page
#driver.close()

In [36]:
# print len of all scraping Data
print("Series:",len(Series))
print("Date:",len(Date))
#print("Time:",len(Time))
print("Place:",len(Place))

Series: 5
Date: 5
Place: 5

In [38]:
#making Data Frame
T20_df=pd.DataFrame({
    "Series":Series,
    "Place ":Place ,
    "Date":Date,
    })
T20_df

,Series,Place,Date
0,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium,",28 Jul
1,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium,",30 Jul
2,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium,",2 Aug
3,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium,",4 Aug
4,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium,",7 Aug

3.Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [44]:
import bs4
from bs4 import BeautifulSoup
import requests

import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

#exceptions
from selenium.common.exceptions import NoSuchElementException ,ElementNotInteractableException

In [45]:
driver = webdriver.Chrome()
url="http://statisticstimes.com/"
driver.get(url)
driver.maximize_window()

In [46]:
# Click On Ecomoy Option
time.sleep(3)
economy = driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/button')     
economy.click()

In [47]:
# click on India Option
time.sleep(3)
try:
    India = driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]')
    India.click()
except ElementNotInteractableException as e:
    print("Exception raised",e)

In [48]:
# click on GDP on Indian States in Indian States
time.sleep(3)
gdp = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')      
gdp.click()

In [49]:
# create scrapping List
Rank=[]
State=[]
GSDP_22_23=[]
GSDP_23_24=[]
Share_21_22=[]
GDP=[]

In [50]:
# scraping Rank 
time.sleep(5)
try:
    ranks=driver.find_elements(By.XPATH, "//td[@class='data1']")
    for i in ranks:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("--")

In [51]:
# scraping State
time.sleep(5)
try:
    states=driver.find_elements(By.XPATH, "//td[@class='name']")
    for i in states:
        State.append(i.text)
except NoSuchElementException:
     State.append("--")

In [52]:
# scraping GSDP for 22-23 because here 18 _19 not showing
time.sleep(5)
try:
    gdp_23=driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdp_23:
        GSDP_22_23.append(i.text)
except NoSuchElementException:
    GSDP_22_23.append("--")

In [53]:
# scraping GSDP 23-24 because here not shown 19_ 20
time.sleep(5)
try:
    gdp_24=driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[5]')
    for i in gdp_24:
        GSDP_23_24.append(i.text)
except NoSuchElementException:
    GSDP_23_24.append("--")

In [54]:
# scraping the Share for 21_22 here also not shown 18 _ 19
time.sleep(5)
try:
    shres=driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[6]')
    for i in shres:
        Share_21_22.append(i.text)
except NoSuchElementException:
    Share_21_22.append("--")

In [55]:
# scraping GDP
time.sleep(5)
try:
    gdp=driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[7]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
        GDP.append("--") 

# Close web page
driver.quit()

In [57]:
# print of all scrapping data
print("Rank :",len(Rank))

print("state :",len(State))

print("GSDP for 22 -23 :",len(GSDP_22_23))

print("GSDP for 23 -24 :",len(GSDP_23_24))

print("Share for 21 - 22 :",len(Share_21_22))

print("GDP :",len(GDP))

Rank : 68
state : 68
GSDP for 22 -23 : 33
GSDP for 23 -24 : 33
Share for 21 - 22 : 33
GDP : 33

In [58]:
# making Data Frame
state_GDP_df=pd.DataFrame({
    "State Rank":Rank[:33],
    "State Names":State[:33],
    "GSDP_22_23":GSDP_22_23[:33],
    "GSDP_23_24":GSDP_23_24[:33],
    "Share_21_22":Share_21_22[:33],
    "GDP":GDP[:33]
})
state_GDP_df

,State Rank,State Names,GSDP_22_23,GSDP_23_24,Share_21_22,GDP
0,1,Maharashtra,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,014,688","881,336",3.73%,117.660
12,13,Haryana,"984,055","868,905",3.68%,116.001
13,14,Odisha,"753,177","662,886",2.81%,88.497
14,15,Bihar,"751,396","650,302",2.76%,86.817
15,16,Punjab,"676,164","617,192",2.62%,82.397
16,17,Assam,"493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"464,399","410,525",1.74%,54.806
18,19,Jharkhand,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"191,728","172,162",0.73%,22.984
22,23,Goa,"93,672","84,266",0.36%,11.250
23,24,Tripura,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,"54,285","46,096",0.20%,6.154
25,26,Puducherry,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"42,697","38,785",0.16%,5.178
27,28,Sikkim,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,"39,630","34,775",0.15%,4.643
30,31,Nagaland,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.385

4.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used 

Note: - From the home page you have to click on the trending option from Explore menu through code

In [87]:
import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

#exceptions
from selenium.common.exceptions import NoSuchElementException ,TimeoutException,StaleElementReferenceException ,ElementNotInteractableException
import pandas as pd
import numpy as np

In [88]:
# Open web page
driver = webdriver.Chrome()
url="https://github.com/"
driver.get(url)
driver.maximize_window()

In [89]:
#create Lists
R_title=[]
R_discr=[]
contributers=[]
Language=[]

In [99]:
# click on Open Source
explore = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/button')      
explore.click()

In [78]:
#click on Trending repository
try:
    trending = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')  
    trending.click()
except ElementNotInteractableException as e:
    print("Exception Raised", e)

Exception Raised Message: element not interactable
  (Session info: chrome=126.0.6478.183)
Stacktrace:
	GetHandleVerifier [0x00007FF7A31AEEB2+31554]
	(No symbol) [0x00007FF7A3127EE9]
	(No symbol) [0x00007FF7A2FE8559]
	(No symbol) [0x00007FF7A30397C2]
	(No symbol) [0x00007FF7A302C151]
	(No symbol) [0x00007FF7A305D02A]
	(No symbol) [0x00007FF7A302BA76]
	(No symbol) [0x00007FF7A305D240]
	(No symbol) [0x00007FF7A307C977]
	(No symbol) [0x00007FF7A305CDD3]
	(No symbol) [0x00007FF7A302A33B]
	(No symbol) [0x00007FF7A302AED1]
	GetHandleVerifier [0x00007FF7A34B8B2D+3217341]
	GetHandleVerifier [0x00007FF7A3505AF3+3532675]
	GetHandleVerifier [0x00007FF7A34FB0F0+3489152]
	GetHandleVerifier [0x00007FF7A325E786+750614]
	(No symbol) [0x00007FF7A313376F]
	(No symbol) [0x00007FF7A312EB24]
	(No symbol) [0x00007FF7A312ECB2]
	(No symbol) [0x00007FF7A311E17F]
	BaseThreadInitThunk [0x00007FFA9BB3257D+29]
	RtlUserThreadStart [0x00007FFA9CD0AF28+40]

In [100]:
#scraping the Repositor_Name 
r_nam=driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]')
for i in r_nam:
    if i.text is None :
        R_title.append("--") 
    else:
        R_title.append(i.text)

In [101]:
#scraping the Description 
r_des=driver.find_elements(By.XPATH, '//article[@class="Box-row"]/p')
for i in r_des:
    if i.text is None :
        R_discr.append("--") 
    else:
        R_discr.append(i.text)

In [102]:
#scraping the Contribution Count
contr=driver.find_elements(By.XPATH, "//a[@class='Link Link--muted d-inline-block mr-3'][2]")
for i in contr:
    if i.text is None :
        contributers.append("--") 
    else:
        contributers.append(i.text)

In [103]:
#scraping the Language
lang=driver.find_elements(By.XPATH, "//span[@itemprop='programmingLanguage']")
for i in lang:
    if i.text is None :
        Language.append("--") 
    else:
        Language.append(i.text)

In [104]:
# check length of all scraping data
print("Ripository Titles:", len(R_title))
print("Ripository Description:", len(R_discr))
print("Contributors Count:", len(contributers))
print("Language Used:",len(Language))

Ripository Titles: 0
Ripository Description: 0
Contributors Count: 0
Language Used: 0

In [105]:
# making Data Frme
trending_ripository_df=pd.DataFrame({
    "Ripository Tiles":R_title,
    "Ripository Description":R_discr,
    "Contributors count":contributers,
    "Language Used":Language})
trending_ripository_df

Empty DataFrame
Columns: [Ripository Tiles, Ripository Description, Contributors count, Language Used]
Index: []

In [106]:
#close driver
driver.quit()

5.Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [107]:
import bs4
from bs4 import BeautifulSoup
import requests

import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

#exceptions
from selenium.common.exceptions import NoSuchElementException ,TimeoutException,StaleElementReferenceException ,ElementNotInteractableException,ElementClickInterceptedException
import pandas as pd
import numpy as np

In [108]:
# get the web page
driver = webdriver.Chrome()
url="https://www.billboard.com/"
driver.get(url)
driver.maximize_window()

In [109]:
# from home page click on chart option by code
try:
    time.sleep(2)
    explore_chart=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
    explore_chart.click()
except NoSuchElementException:
    driver.get(explore_chart.get_attribute('href'))

In [110]:
# Clicking on hot 100 option by codes
try:
    time.sleep(2)
    hot_100=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span")
    hot_100.click()
except NoSuchElementException:
    driver.get(hot_100.get_attribute('href'))
except ElementClickInterceptedException as e:
    print("Raised Exception",e)

Raised Exception Message: element click intercepted: Element is not clickable at point (138, 3063)
  (Session info: chrome=126.0.6478.183)
Stacktrace:
	GetHandleVerifier [0x00007FF7A31AEEB2+31554]
	(No symbol) [0x00007FF7A3127EE9]
	(No symbol) [0x00007FF7A2FE872A]
	(No symbol) [0x00007FF7A304012E]
	(No symbol) [0x00007FF7A303DAF2]
	(No symbol) [0x00007FF7A303AF8B]
	(No symbol) [0x00007FF7A303A156]
	(No symbol) [0x00007FF7A302C151]
	(No symbol) [0x00007FF7A305D02A]
	(No symbol) [0x00007FF7A302BA76]
	(No symbol) [0x00007FF7A305D240]
	(No symbol) [0x00007FF7A307C977]
	(No symbol) [0x00007FF7A305CDD3]
	(No symbol) [0x00007FF7A302A33B]
	(No symbol) [0x00007FF7A302AED1]
	GetHandleVerifier [0x00007FF7A34B8B2D+3217341]
	GetHandleVerifier [0x00007FF7A3505AF3+3532675]
	GetHandleVerifier [0x00007FF7A34FB0F0+3489152]
	GetHandleVerifier [0x00007FF7A325E786+750614]
	(No symbol) [0x00007FF7A313376F]
	(No symbol) [0x00007FF7A312EB24]
	(No symbol) [0x00007FF7A312ECB2]
	(No symbol) [0x00007FF7A311E17F]
	BaseThreadInitThunk [0x00007FFA9BB3257D+29]
	RtlUserThreadStart [0x00007FFA9CD0AF28+40]

In [111]:
# create the list for store scraoing data
Song_name=[]
Artist_name = []
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [112]:
# scraping Song name
try:
    time.sleep(5)
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3'):
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append('-')

In [113]:
# scraping Artist name
try:
    time.sleep(5)
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span'):
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')
Artist_name=Artist_name[0:-1:4]

In [114]:
#scraping the Last_Week Rank
try:
    time.sleep(3)
    for i in driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[4]/span'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')

In [115]:
#scraping the peak rank
try:
    time.sleep(3)
    for i in driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[5]/span'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')

In [116]:
#scraping the week on board
try:
    time.sleep(3)
    for i in driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[6]/span'):
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('-')

In [117]:
#close wepage
driver.quit()

In [121]:
# check the len of all scrapping data
print("Song",len(Song_name))
print("Artist",len(Artist_name))
print("Week Rank",len(Last_week_rank))
print("Peak rank",len(Peak_rank))
print("week on Boards",len(Weeks_on_board))

Song 0
Artist 0
Week Rank 0
Peak rank 0
week on Boards 0

In [119]:
# making The data frame
Hot_100_song_df=pd.DataFrame({'Song_Name':Song_name,
                'Artist_Name':Artist_name,
                'Last_week_rank':Last_week_rank,
                'Peak Rank':Peak_rank,
                'Weeks_on_chart':Weeks_on_board})
Hot_100_song_df

Empty DataFrame
Columns: [Song_Name, Artist_Name, Last_week_rank, Peak Rank, Weeks_on_chart]
Index: []

6.Scrape the details of Highest selling novels. A) Book name B) Author name C) Volumes sold D) Publisher E) Genre Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [122]:
import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

#exceptions
from selenium.common.exceptions import NoSuchElementException ,TimeoutException,StaleElementReferenceException ,ElementNotInteractableException,ElementClickInterceptedException
import pandas as pd
import numpy as np

In [123]:
# run webpage
driver = webdriver.Chrome()
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
driver.maximize_window()

In [124]:
# create the list
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [125]:
#scraping Book_name 
try:
    time.sleep(3)
    b_nam=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
    for i in b_nam:
        Book_name.append(i.text)
except NoSuchElementException as e:
    Book_name.append("Not Present")

In [126]:
#scraping Author_name
try:
    time.sleep(3)
    Auth=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
    for i in Auth:
        Author_name.append(i.text)
except NoSuchElementException as e:
    Author_name.append("Not Present")

In [127]:
#scraping Volumes_sold 
try:
    time.sleep(3)
    volum=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
    for i in volum:
        Volumes_sold.append(i.text)
except NoSuchElementException as e:
    Volumes_sold.append("Not Present")

In [128]:
#scraping Publisher
try:
    time.sleep(3)
    publice=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
    for i in publice:
        Publisher.append(i.text)
except NoSuchElementException as e:
    Publisher.append("Not Present")

In [129]:
#scraping the Genre 
try:
    time.sleep(3)
    gen=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
    for i in gen:
        Genre.append(i.text)
except NoSuchElementException as e:
    Genre.append("Not Present")
    
#close web page
driver.quit()

In [130]:
#check length of all scrapping data
print("Book Name",len(Book_name))
print("Author Name",len(Author_name))
print("Volume Sold",len(Volumes_sold))
print("Publisher",len(Publisher))
print("Genre",len(Genre))

Book Name 100
Author Name 100
Volume Sold 100
Publisher 100
Genre 100

In [131]:
#Create data Frame
Novel_df=pd.DataFrame({
    "Book Name":Book_name,
    "Author Name":Author_name,
    "Volume Sold":Volumes_sold,
    "Publisher":Publisher,
    "Genre":Genre})

Novel_df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [132]:
import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

#exceptions
from selenium.common.exceptions import NoSuchElementException ,TimeoutException,StaleElementReferenceException ,ElementNotInteractableException,ElementClickInterceptedException
import pandas as pd
import numpy as np

In [133]:
# get web page
driver = webdriver.Chrome()
url="https://www.imdb.com/"
driver.get(url)
driver.maximize_window()

In [136]:
# click on menu
try:
    menu= driver.find_element(By.XPATH, '//div[@class="ipc-page-content-container ipc-page-content-container--center navbar__inner"]/label[1]')      
    menu.click()
except NoSuchElementException as e:
    print("raised Exception", e)

ElementClickInterceptedException: Message: element click intercepted: Element <label aria-haspopup="true" id="imdbHeader-navDrawerOpen" class="ipc-responsive-button ipc-btn--theme-baseAlt ipc-responsive-button--transition-l ipc-btn--on-textPrimary ipc-responsive-button--single-padding sc-eJobrH kyvUMk hamburger__icon" role="button" tabindex="0" aria-label="Open Navigation Drawer" aria-disabled="false" for="imdbHeader-navDrawer">...</label> is not clickable at point (138, 28). Other element would receive the click: <div class="drawer__panel" role="presentation" aria-hidden="false" data-testid="panel">...</div>
  (Session info: chrome=126.0.6478.183)
Stacktrace:
	GetHandleVerifier [0x00007FF7A31AEEB2+31554]
	(No symbol) [0x00007FF7A3127EE9]
	(No symbol) [0x00007FF7A2FE872A]
	(No symbol) [0x00007FF7A304012E]
	(No symbol) [0x00007FF7A303DAF2]
	(No symbol) [0x00007FF7A303AF8B]
	(No symbol) [0x00007FF7A303A156]
	(No symbol) [0x00007FF7A302C151]
	(No symbol) [0x00007FF7A305D02A]
	(No symbol) [0x00007FF7A302BA76]
	(No symbol) [0x00007FF7A305D240]
	(No symbol) [0x00007FF7A307C977]
	(No symbol) [0x00007FF7A305CDD3]
	(No symbol) [0x00007FF7A302A33B]
	(No symbol) [0x00007FF7A302AED1]
	GetHandleVerifier [0x00007FF7A34B8B2D+3217341]
	GetHandleVerifier [0x00007FF7A3505AF3+3532675]
	GetHandleVerifier [0x00007FF7A34FB0F0+3489152]
	GetHandleVerifier [0x00007FF7A325E786+750614]
	(No symbol) [0x00007FF7A313376F]
	(No symbol) [0x00007FF7A312EB24]
	(No symbol) [0x00007FF7A312ECB2]
	(No symbol) [0x00007FF7A311E17F]
	BaseThreadInitThunk [0x00007FFA9BB3257D+29]
	RtlUserThreadStart [0x00007FFA9CD0AF28+40]

In [137]:
 # click on Most Popular Tv Shows
try:
    tv_shows= driver.find_element(By.XPATH, '/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[3]/span')      
    tv_shows.click()
except NoSuchElementException as e:
    print("raised Exception",e)

In [138]:
# making lists for store the scraping data
Name=[]
Year_span=[]
Genres=[]
Run_time=[]
Ratings=[]
Votes=[]

In [139]:
#scraping the Name
try:
    nam=driver.find_elements(By.XPATH, '//a[@class="ipc-title-link-wrapper"]')
    for i in nam:
        if i.text is None :
            Name.append("--")
        else:
            Name.append(i.text)
except NoSuchElementException as e:
    print("raised Exception",e)

In [140]:
#scraping the Year_span     
try:
    year=driver.find_elements(By.XPATH, '//div[@class="sc-b189961a-7 btCcOY cli-title-metadata"]/span[1]')
    for i in year:
        if i.text is None :
            Year_span.append("--")     
        else:
            Year_span.append(i.text)
except NoSuchElementException as e:
    print("raised Exception",e)

In [141]:
#scraping the Ratings
try:
    rate=driver.find_elements(By.XPATH, '//span[@class="ipc-rating-star--rating"]')
    for i in rate:
        if i.text is None :           
            Ratings.append("--")      
        else:
            Ratings.append(i.text)
except NoSuchElementException as e:
    print("raised Exception",e)

In [142]:
#scraping the Votes 
try:
    vot=driver.find_elements(By.XPATH, '//span[@class="ipc-rating-star--voteCount"]')
    for i in vot:
        if i.text is None :
            Votes.append("--") 
        else:
            Votes.append(i.text)
except NoSuchElementException as e:
    print("raised Exception",e)

In [143]:
# Scraping the Genre
try:
    genr=driver.find_elements(By.XPATH, '//div[@class="sc-b189961a-7 btCcOY cli-title-metadata"]/span[3]')
    for i in genr:
        if i.text is None :
            Genres.append("--") 
        else:
            Genres.append(i.text)
except NoSuchElementException as e:
    print("raised Exception",e)

In [145]:
# Scraping the RunTime
try:
    runtime=driver.find_elements(By.XPATH, '//div[@class="sc-b189961a-7 btCcOY cli-title-metadata"]/span[2]')
    for i in runtime:
        if i.text is None :
            Run_time.append("--") 
        else:
            Run_time.append(i.text)
except NoSuchElementException as e:
    print("raised Exception", e)

In [146]:
# close driver
driver.quit()

In [147]:
# print the length of all scrapping data
print("Name of Movies",len(Name))
print("Year of Span",len(Year_span))
print("Ratings Of Movies",len(Ratings))
print("Votes",len(Votes))
print("Genres",len(Genres))
print("Run Time",len(Run_time))

Name of Movies 108
Year of Span 100
Ratings Of Movies 99
Votes 99
Genres 96
Run Time 200

In [148]:
# make Data frame of Popular Tv shows
Popular_Tv_shows_df=pd.DataFrame({
    "Name of Movies":Name[:96],
    "Year of Span":Year_span[:96],
    "Ratings Of Movies":Ratings[:96],
    "Genres":Genres[:96],
    "Run Time":Run_time[:96]
})

Popular_Tv_shows_df

          Name of Movies Year of Span Ratings Of Movies Genres Run Time
0               The Boys        2019–               8.7  TV-MA   40 eps
1    House of the Dragon        2022–               8.4  TV-MA   20 eps
2               The Bear        2022–               8.6  TV-MA   29 eps
3            The Acolyte        2024–               4.0  TV-14    8 eps
4      Presumed Innocent         2024               7.8  TV-MA    9 eps
..                   ...          ...               ...    ...      ...
91       The White Lotus    2021–2025               8.6  TV-14   14 eps
92           The X-Files    1993–2018               7.2  TV-14  217 eps
93      Under the Bridge         2024               8.6  TV-14    8 eps
94       Sons of Anarchy    2008–2014               7.9  TV-14   92 eps
95  The Umbrella Academy    2019–2024               8.0  TV-MA   36 eps

[96 rows x 5 columns]

8.Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code.

In [190]:
import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')
import regex as re
#exceptions
from selenium.common.exceptions import NoSuchElementException ,TimeoutException,StaleElementReferenceException ,ElementNotInteractableException,ElementClickInterceptedException
import pandas as pd
import numpy as np

In [191]:
# get the web page 
driver=webdriver.Chrome()
url="https://archive.ics.uci.edu/"
driver.get(url)

In [192]:
# show all data set throgh codes
try :
    time.sleep(3)
    all_dataset= driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')      
    all_dataset.click()
except NoSuchElementException as e:
    print("raised Exception", e)

In [193]:
#create the Lists for storing Data
Dataset_Name=[]
Data_Type=[]
Task=[]
No_of_Instances=[]
No_of_Attribute=[]
Attribute_type=[]
Year=[]

In [194]:
#scraping the Dataset_Name

data_nam=driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
for i in data_nam:
    if i.text is None :
        Dataset_Name.append("--") 
    else:
        Dataset_Name.append(i.text)

In [195]:
#scraping the Data_Type 

data_typ=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
for i in data_typ:
    if i.text is None :
        Data_Type.append("--") 
    else:
        Data_Type.append(i.text)

In [196]:
#scraping the Task

tsk=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
for i in tsk:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)

In [197]:
#scraping the No_of_Instances 

instance=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
for i in instance:
    if i.text is None :
        No_of_Instances.append("--") 
    else:
        No_of_Instances.append(i.text)

In [198]:
#scraping the No_of_Attribute

num_atrribute=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
for i in num_atrribute:
    if i.text is None :
        No_of_Attribute.append("--") 
    else:
        No_of_Attribute.append(i.text)

In [199]:
# check length of scrapping data
print("Datasets Name",len(Dataset_Name))
print("Dataset Type",len(Data_Type))
print("Task",len(Task))
print("Num. of Instances",len(No_of_Instances))
print("Num. of attributes",len(No_of_Attribute))

Datasets Name 10
Dataset Type 10
Task 10
Num. of Instances 10
Num. of attributes 10

In [200]:
# scrape the dataset URL
urls_dataset=[]
time.sleep(3)
url_dataset=driver.find_elements(By.XPATH,'//div[@class="h-12 w-12 rounded"]/a')
for i in url_dataset:
    urls_dataset.append(i.get_attribute('href'))

In [201]:
# scrape the attribute type and year
for i in urls_dataset:
    driver.get(i)
    time.sleep(3)
    try:
        a_type=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]//div[4]//p')
        for a in a_type:
            Attribute_type.append(a.text)
            
        years=driver.find_elements(By.XPATH,'//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"]/div[2]/h2')
        for a in years:
            Year.append(a.text)
            
    except NoSuchElementException as e:
        Attribute_type.append('No Present')

In [202]:
# check length again
print("URL Datasets",len(urls_dataset))
print("Attribute Type",len(Attribute_type))
print("years",len(Year))
print("URL Datasets",len(urls_dataset))
print("Attribute Type",len(Attribute_type))
print("years",len(Year))

URL Datasets 10
Attribute Type 10
years 10
URL Datasets 10
Attribute Type 10
years 10

In [204]:
# close web page
driver.close()

In [203]:
# make DataFrame
All_datasets_df=pd.DataFrame({
    "Datasets Name":Dataset_Name,
    "Data Type":Data_Type,
    "Task":Task,
    "No_of_Instances":No_of_Instances,
    "No_of_Attribute":No_of_Attribute,
    "Attribute_type":Attribute_type,
    "Year":Year})

All_datasets_df

,Datasets Name,Data Type,Task,No_of_Instances,No_of_Attribute,Attribute_type,Year
0,Iris,Tabular,Classification,150 Instances,4 Features,Real,Donated on 6/30/1988
1,Dry Bean,Multivariate,Classification,13.61K Instances,16 Features,"Integer, Real",Donated on 9/13/2020
2,Heart Disease,Multivariate,Classification,303 Instances,13 Features,"Categorical, Integer, Real",Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,7 Features,Real,Donated on 10/5/2019
4,Raisin,Multivariate,Classification,900 Instances,8 Features,"Real, Integer",Donated on 8/13/2023
5,Adult,Multivariate,Classification,48.84K Instances,14 Features,"Categorical, Integer",Donated on 4/30/1996
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features,Real,Donated on 10/31/1995
7,Wine,Tabular,Classification,178 Instances,13 Features,"Integer, Real",Donated on 6/30/1991
8,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Features,Real,Donated on 10/6/2009
9,Bank Marketing,Multivariate,Classification,45.21K Instances,17 Features,"Categorical, Integer",Donated on 2/13/2012