# WEB SCRAPING – ASSIGNMENT 2

In [9]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shaik\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shaik\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\shaik\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\shaik\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shaik\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\shaik\anaconda3\lib\site-packages (from selenium) (0.26.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shaik\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sortedcontainers in c:\users\shaik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\shaik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\shaik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: attrs>=23.2.0 in c:\users\shaik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: idna in c:\users\shaik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\shaik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\shaik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\shaik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shaik\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shaik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shaik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and 
salary filter.

1. first get the web page https://www.naukri.com/ 
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.  
3. Then click the search button.  
4. Then apply the location filter and salary filter by checking the respective boxes  
5. Then scrape the data for the first 10 jobs results you get.  
6. Finally create a dataframe of the scraped data.

In [36]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [37]:
# open chrom browser
driver=webdriver.Chrome()

In [38]:
# Get web page
driver.get('https://www.naukri.com/')

In [39]:
#search inputs Data scientist
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [40]:
#click search button
search_button=driver.find_elements(By.CLASS_NAME,'qsbSubmit')
for button in search_button:
    button.click()

In [41]:
# use filter here 
time.sleep(3)
salaries = driver.find_elements(By.XPATH, '//*[text()="3-6 Lakhs"][1]')
for s in salaries:
    s.click()

In [42]:
#use filter on location
locations = driver.find_elements(By.XPATH, '//*[text()="Delhi / NCR"][1]')
for i in locations:
    i.click()

In [44]:
job_title  = driver.find_elements(By.XPATH , '//div[@class=" row1"]')
location  = driver.find_elements(By.XPATH , '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
exp_years = driver.find_elements(By.XPATH , '//span[@class="exp-wrap"]')
company = driver.find_elements(By.XPATH , '//span[@class=" comp-dtls-wrap"]')

In [45]:
job_title_list=[]
location_list=[]
years_list=[]
company_list=[]

In [46]:
for i in  range(10):
    job_title_list.append(job_title[i].text)
    location_list.append(location[i].text)
    years_list.append(exp_years[i].text)
    company_list.append(company[i].text)
print(job_title_list)
print(location_list)
print(years_list)
print(company_list)
driver.quit()

['Data Scientist', 'Data Scientist III', 'Data Scientist', 'Data Scientist', 'Data Scientist', '', '', '', 'Data Scientist', 'Data scientist']
['Delhi / NCR, Pune, Bengaluru', 'Gurugram', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'New Delhi', 'Gurugram', 'Mumbai, Gurugram', 'Gurugram, Bengaluru', 'Gurugram', 'Noida', 'Noida']
['6-11 Yrs', '2-6 Yrs', '2-5 Yrs', '0-2 Yrs', '1-5 Yrs', '', '', '', '0-5 Yrs', '0-1 Yrs']
['Wipro\n3.8\n41422 Reviews', 'Flutter', 'Essenware\n4.7\n4 Reviews', 'Fortune 500 IT Services Company', 'Big 4 Consulting Firm', '', '', '', 'Sociomix', 'Growthjockey\n4.1\n6 Reviews']

In [47]:
print(len(job_title_list),len(location_list),len(years_list),len(company_list))

10 10 10 10

In [48]:
#making data frame
dataframe = pd.DataFrame ({
    'job_title':job_title_list,
    'loaction':location_list,
    'Experience_needed':years_list,
    'company_name':company_list})
dataframe

,job_title,loaction,Experience_needed,company_name
0,Data Scientist,"Delhi / NCR, Pune, Bengaluru",6-11 Yrs,Wipro\n3.8\n41422 Reviews
1,Data Scientist III,Gurugram,2-6 Yrs,Flutter
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",2-5 Yrs,Essenware\n4.7\n4 Reviews
3,Data Scientist,New Delhi,0-2 Yrs,Fortune 500 IT Services Company
4,Data Scientist,Gurugram,1-5 Yrs,Big 4 Consulting Firm
5,,"Mumbai, Gurugram",,
6,,"Gurugram, Bengaluru",,
7,,Gurugram,,
8,Data Scientist,Noida,0-5 Yrs,Sociomix
9,Data scientist,Noida,0-1 Yrs,Growthjockey\n4.1\n6 Reviews

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

1. First get the webpage https://www.shine.com/ 
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field. 
3. Then click the searchbutton.  
4. Then scrape the data for the first 10 jobs results you get.  
5. Finally create a dataframe of the scraped data.

In [70]:

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

#open web browser
driver = webdriver.Chrome()

#find the web page of shine
driver.get('https://www.shine.com/')

#click on search bar for give the input
input_job_title= driver.find_elements(By.CLASS_NAME,"input")

#search data analytics job Role
input_job_title[0].send_keys('Data Scientist')

#click search button
search=driver.find_element(By.CLASS_NAME,"iconH-zoom-white")
search.click()

# again search job designation
# Wait for the job designation input field to be visible
job_designation= WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.CLASS_NAME, "form-control")))
#search job Designation
job_designation.send_keys('Data Scientist')

#search location
job_location=driver.find_elements(By.ID,"id_loc")
#type location in searchj bar
job_location[0].send_keys('Bangalore')



# Assuming 'driver' is your WebDriver instance
sarch = driver.find_elements(By.CSS_SELECTOR, ".btn.btn-secondary.undefined")

# Now sarch iterate with all elements
for element in sarch:
    element.click()
    
# create list for scrape the Data sceintist  data from shine web
job_title=[]
job_locations=[]
company_name=[]
experience_required=[]

# scrapping job title from, the given page 
title_tag=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tag:
    title=i.text
    job_title.append(title)
print(len(job_title))

#scraping Company name
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company:
    comp=i.text
    company_name.append(comp)
print(len(company_name))


#scraping Location
location=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location:
    loc=i.text
    job_locations.append(loc)
print(len(job_locations))


#scraping Experience
exp=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp:
    experien=i.text
    experience_required.append(experien)
print(len(experience_required))
driver.quit()


#create the Data Frame
shiny_job_df=pd.DataFrame({'Job title':job_title[:10],'Coampany Name':company_name[:10],'Job Location':job_locations[:10],'Experience':experience_required[:10]})
print(shiny_job_df)
shiny_job_df

20
20
20
20
                                   Job title  \
0                             Data Scientist
1                             Data Scientist
2                             Data Scientist
3                 Data Scientist Recruitment
4                             Data Scientist
5                  Hiring For Data Scientist
6                             Data Scientist
7                               Data Analyst
8  Senior Associate Data Engineering Level 2
9                            Hr Data Analyst

                            Coampany Name    Job Location     Experience
0      comosrich it & consulting services       Bangalore     3 to 8 Yrs
1       dotcod innovation private limited   Bangalore\n+1     2 to 6 Yrs
2                     meraki it solutions       Bangalore     3 to 6 Yrs
3                       kavya interprises  Bangalore\n+13     0 to 4 Yrs
4                      vaishnavi services  Bangalore\n+10  18 to >25 Yrs
5               neelima staffing solution  Bangalore\n+15     0 to 4 Yrs
6                      talent toppers llp   Bangalore\n+2     0 to 3 Yrs
7                        aryan technology   Bangalore\n+4     0 to 4 Yrs
8               tlg india private limited   Bangalore\n+7     5 to 9 Yrs
9  leverage business solutions private...       Bangalore     4 to 8 Yrs

,Job title,Coampany Name,Job Location,Experience
0,Data Scientist,comosrich it & consulting services,Bangalore,3 to 8 Yrs
1,Data Scientist,dotcod innovation private limited,Bangalore\n+1,2 to 6 Yrs
2,Data Scientist,meraki it solutions,Bangalore,3 to 6 Yrs
3,Data Scientist Recruitment,kavya interprises,Bangalore\n+13,0 to 4 Yrs
4,Data Scientist,vaishnavi services,Bangalore\n+10,18 to >25 Yrs
5,Hiring For Data Scientist,neelima staffing solution,Bangalore\n+15,0 to 4 Yrs
6,Data Scientist,talent toppers llp,Bangalore\n+2,0 to 3 Yrs
7,Data Analyst,aryan technology,Bangalore\n+4,0 to 4 Yrs
8,Senior Associate Data Engineering Level 2,tlg india private limited,Bangalore\n+7,5 to 9 Yrs
9,Hr Data Analyst,leverage business solutions private...,Bangalore,4 to 8 Yrs

# Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

1. Rating 
2. Review summary 
3. Full review 
4. You have to scrape this data for first 100reviews.

In [74]:
# open browser
driver = webdriver.Chrome()
driver.maximize_window()

# get web page of flipkart
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

# scrape data of Product
rat = driver.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]')
rev = driver.find_elements(By.XPATH, '//p[@class="z9E0IG"]')
ful_rev = driver.find_elements(By.XPATH, '//div[@class="ZmyHeo"]')
time.sleep(3)

# making list
rating = []
review = []
full_review = []

# SCRAPE 100 REVIEWS DATA
start = 1
end = 11
for page in range(start, end):
    rat = driver.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]')
    rev = driver.find_elements(By.XPATH, '//p[@class="z9E0IG"]')
    ful_rev = driver.find_elements(By.XPATH, '//div[@class="ZmyHeo"]')
    
    for i in range(len(rat)):  # Iterate over the elements found on the page
        rating.append(rat[i].text)
        review.append(rev[i].text)
        full_review.append(ful_rev[i].text)

# making Data Frame
Reviews_data = pd.DataFrame({
    "Product Rating": rating,
    "Short Review": review,
    "Full Review": full_review
})
driver.quit()
print(Reviews_data)
Reviews_data

   Product Rating         Short Review  \
0               5    Worth every penny
1               5  Best in the market!
2               5            Wonderful
3               5             Terrific
4               5            Just wow!
..            ...                  ...
95              5            Must buy!
96              5     Perfect product!
97              5       Classy product
98              5            Fabulous!
99              5    Terrific purchase

                                          Full Review
0   Feeling awesome after getting the delivery of ...
1                                         Good Camera
2                              This is amazing at all
3                                      Very very good
4                                   Perfect Product!!
..                                                ...
95                                It’s really awesome
96                                       Photos super
97  Camera is awesome\nBest battery backup\nA perf...
98  It’s very good battery life and display and vi...
99                                  Value for money 😍

[100 rows x 3 columns]

,Product Rating,Short Review,Full Review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Best in the market!,Good Camera
2,5,Wonderful,This is amazing at all
3,5,Terrific,Very very good
4,5,Just wow!,Perfect Product!!
...,...,...,...
95,5,Must buy!,It’s really awesome
96,5,Perfect product!,Photos super
97,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
98,5,Fabulous!,It’s very good battery life and display and vi...
99,5,Terrific purchase,Value for money 😍

# Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 3 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price

In [75]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get('https://www.flipkart.com/')

# find search input sneakers
search_input = driver.find_elements(By.CLASS_NAME, "Pke_EE")
search_input[0].send_keys('sneakers')

# click search button
search_button = driver.find_elements(By.CLASS_NAME, '_2iLD__')
for p in search_button:
    p.click()

# create list
time.sleep(6)
product_brand = []
product_description = []
product_price = []

# scrape data
start = 1
end = 10
for web in range(start, end):
    brand = driver.find_elements(By.XPATH, '//div[@class="syl9yP"]')
    desc = driver.find_elements(By.XPATH, '//a[@class="WKTcLC BwBZTg"]')
    price = driver.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')

    # Find the minimum length among the three lists
    min_len = min(len(brand), len(desc), len(price))

    for i in range(min_len):
        product_brand.append(brand[i].text)
        product_description.append(desc[i].text)
        product_price.append(price[i].text)

# make Data Frame
sneaker_df = pd.DataFrame({
    "Brand name": product_brand,
    "Sneaker Description": product_description,
    "Price": product_price
})

print(sneaker_df)
driver.quit()
sneaker_df[:100]

          Brand name                                Sneaker Description  \
0             BRUTON  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...
1               aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...
2          Deals4you                                   Sneakers For Men
3               aadi                                   Sneakers For Men
4    U.S. POLO ASSN.  Lightweight Comfort Summer Trendy Premium Styl...
..               ...                                                ...
121             PUMA                                   Sneakers For Men
122         JUMPLITE  ( by GO21 ) Soft Insole, Slip-Resistance|Chunk...
123            Zixer  Kook N Keech Men White Faux Leather CASUAL Lac...
124             PUMA  Trending Stylish Casual Outdoor Shoes Sneakers...
125             PUMA               Dexster Slip On IDP Sneakers For Men

      Price
0      ₹297
1      ₹299
2      ₹399
3      ₹299
4    ₹1,249
..      ...
121  ₹1,047
122    ₹999
123    ₹699
124  ₹1,200
125  ₹1,047

[126 rows x 3 columns]

         Brand name                                Sneaker Description   Price
0            BRUTON  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹297
1              aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹299
2         Deals4you                                   Sneakers For Men    ₹399
3              aadi                                   Sneakers For Men    ₹299
4   U.S. POLO ASSN.  Lightweight Comfort Summer Trendy Premium Styl...  ₹1,249
..              ...                                                ...     ...
95            Zixer  Kook N Keech Men White Faux Leather CASUAL Lac...    ₹699
96             PUMA  Trending Stylish Casual Outdoor Shoes Sneakers...  ₹1,200
97             PUMA               Dexster Slip On IDP Sneakers For Men  ₹1,047
98           BRUTON  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹297
99             aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹299

[100 rows x 3 columns]

# Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU 
Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price

In [76]:
#open browser
driver=webdriver.Chrome()
driver.maximize_window()
time.sleep(3)
# get webpage
driver.get('https://www.amazon.in')

#find search bar
try:
    search_bar=driver.find_elements(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
    search_bar[0].send_keys('Laptop')
except ElementNotInteractableException:
    time.sleep(3)
    
#click search button
search_button=driver.find_elements(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
for button in search_button:
    button.click()

# set CPU filter intel Core i7
filter_intel=driver.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div/div/div/div[5]/ul[2]/span/span[8]/li/span/a/span')
for tick in filter_intel:
    tick.click()

#click for get rating    
rate_click=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-3-5 aok-align-bottom"]')
for button in rate_click:
    button.click()

#scrape Data 
lap_Title=[]
lap_Ratings=[]
lap_Price=[]
start=0
end=1
for web in range(start,end):
    title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
    rating=driver.find_elements(By.XPATH,'//*[@class="a-row a-size-small"]//span[@aria-label][1]')
    price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    
    for i in range(len(title)):
        lap_Title.append(title[i].text)
        lap_Ratings.append(rating[i].get_attribute('aria-label'))
        lap_Price.append(price[i].text)
    
    
#create Data Frame
Laptop_df = pd.DataFrame({
    "Laptop Title":lap_Title,
    "Product Rating":lap_Ratings,
    "Laptop Price":lap_Price
})

print(Laptop_df)
driver.quit()
Laptop_df[:10]

                                         Laptop Title      Product Rating  \
0   Lenovo IdeaPad Pro 5 Intel Evo Core Ultra 9 18...  4.0 out of 5 stars
1   Lenovo Yoga Slim 7 Intel Core Ultra 7 155H Bui...  4.4 out of 5 stars
2   (Refurbished) Lenovo ThinkPad 8th Gen Intel Co...  4.1 out of 5 stars
3   Lenovo IdeaPad Slim 1 Intel Core Celeron N4020...  4.6 out of 5 stars
4   ASUS Vivobook Go 14 (2023), 14" (35.56 cm) FHD...  3.9 out of 5 stars
5   Chuwi HeroBook Pro 14.1'' Intel Celeron N4020 ...  4.0 out of 5 stars
6   HP Laptop 15s, AMD Ryzen 3 5300U, 15.6-inch (3...  4.2 out of 5 stars
7   Dell 14 Thin & Light Laptop, 12th Gen Intel Co...  4.1 out of 5 stars
8   Acer Aspire Lite AMD Ryzen 5 5500U Premium Thi...  4.1 out of 5 stars
9   HP Laptop 15s, 12th Gen Intel Core i5-1235U, 1...  4.1 out of 5 stars
10  Lenovo IdeaPad Slim 1 AMD Ryzen 5 5500U 15.6" ...  3.5 out of 5 stars
11  Lenovo IdeaPad Slim 5 Intel Core Ultra 5 125H ...  4.1 out of 5 stars
12  MSI Cyborg 15 AI, Intel Core Ultra 5 125H, Bui...  3.7 out of 5 stars
13  ASUS VivoBook 15 (2021) Thin and Light Laptop,...  3.9 out of 5 stars
14  Acer Aspire Lite 12th Gen Intel Core i3-1215U ...  3.8 out of 5 stars
15  Walker Thin & Light Laptop, 14.1 inch (4GB Ram...  4.1 out of 5 stars
16  HP Laptop 15s, AMD Ryzen 5 5500U, 15.6-inch (3...  4.8 out of 5 stars
17  HP Laptop 15s, 12th Gen Intel Core i5-1235U, 1...  3.0 out of 5 stars
18  Lenovo IdeaPad Slim 3 13th Gen Intel Core i7-1...  3.9 out of 5 stars
19  HP Laptop 15,12th Gen Intel Core i3-1215U,15.6...  4.0 out of 5 stars
20  Chuwi HeroBook Pro 14.1'' Intel Celeron N4020 ...  3.9 out of 5 stars
21  ASUS TUF F17 Gaming Laptop, Intel Core i5-1140...  4.1 out of 5 stars
22  Lenovo IdeaPad Pro 5 Intel Core Ultra 7 155H B...  4.1 out of 5 stars
23  Bestor 4-Port USB 3.0 Hub [90°/180° Degree Rot...  4.1 out of 5 stars

   Laptop Price
0      1,07,990
1      1,07,990
2        17,899
3        25,990
4        22,950
5      1,07,990
6        58,490
7        47,990
8        45,990
9        69,990
10       16,990
11       31,990
12       35,990
13       34,990
14       52,525
15       38,990
16       81,990
17       96,990
18       21,530
19       31,990
20       12,990
21       41,890
22       52,490
23       63,990

,Laptop Title,Product Rating,Laptop Price
0,Lenovo IdeaPad Pro 5 Intel Evo Core Ultra 9 18...,4.0 out of 5 stars,"1,07,990"
1,Lenovo Yoga Slim 7 Intel Core Ultra 7 155H Bui...,4.4 out of 5 stars,"1,07,990"
2,(Refurbished) Lenovo ThinkPad 8th Gen Intel Co...,4.1 out of 5 stars,"17,899"
3,Lenovo IdeaPad Slim 1 Intel Core Celeron N4020...,4.6 out of 5 stars,"25,990"
4,"ASUS Vivobook Go 14 (2023), 14"" (35.56 cm) FHD...",3.9 out of 5 stars,"22,950"
5,Chuwi HeroBook Pro 14.1'' Intel Celeron N4020 ...,4.0 out of 5 stars,"1,07,990"
6,"HP Laptop 15s, AMD Ryzen 3 5300U, 15.6-inch (3...",4.2 out of 5 stars,"58,490"
7,"Dell 14 Thin & Light Laptop, 12th Gen Intel Co...",4.1 out of 5 stars,"47,990"
8,Acer Aspire Lite AMD Ryzen 5 5500U Premium Thi...,4.1 out of 5 stars,"45,990"
9,"HP Laptop 15s, 12th Gen Intel Core i5-1235U, 1...",4.1 out of 5 stars,"69,990"